# Binaries for programs and tests
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Profiling outputs
*.prof

# OS specific files
.DS_Store
Thumbs.db
